<div class="container-fluid">
    <h1>Chargeback Listing</h1>
    <div class="md-form mt-0">
        <div class="row">
            <div class="col">
                Process ID: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                Entry ID: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>

        <div class="row">
            <div class="col">
                Code: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                Date of opening: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                Date of processing: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                Cardholder data: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                Vendor data: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <button class="btn btn-block btn-primary mt-3 mb-3" type="submit">Search</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Chargeback Process ID</th>
            <th scope="col">Chargeback Entry ID</th>
            <th scope="col">Chargeback Code</th>
            <th scope="col">Opened On</th>
            <th scope="col">Processed on</th>
            <th scope="col">Cardholder Data</th>
            <th scope="col">Vendor Data</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">5df5cf10-02cf-491d-860b-55a14b9429e9</th>
            <td>5df5cf10-02cf-491d-860b-55a14b9429e9</td>
            <td>690700</td>
            <td>1/22/2020</td>
            <td>Not Processed</td>
            <td>Erwin Schrödinger</td>
            <td>Januszex Business Incorporated</td>
        </tr>
        <tr>
            <th scope="row">5df5cf10-02cf-491d-860b-55a14b9429e9</th>
            <td>5df5cf10-02cf-491d-860b-55a14b9429e9</td>
            <td>690700</td>
            <td>1/22/2020</td>
            <td>Not Processed</td>
            <td>Erwin Schrödinger</td>
            <td>Januszex Business Incorporated</td>
        </tr>
        <tr>
            <th scope="row">5df5cf10-02cf-491d-860b-55a14b9429e9</th>
            <td>5df5cf10-02cf-491d-860b-55a14b9429e9</td>
            <td>690700</td>
            <td>1/22/2020</td>
            <td>Not Processed</td>
            <td>Erwin Schrödinger</td>
            <td>Januszex Business Incorporated</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>