<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <h1>User Listing</h1>
        </div>
        <div class="col">
            <button class="btn btn-light align-middle" data-toggle="collapse" data-target="#search" aria-expanded="false"
                    aria-controls="search">Toggle search section</button>
        </div>
    </div>
    <div class="md-form mt-0" id="search">
        <div class="row">
            <div class="col">
                User ID: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                User's name: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>

        <div class="row">
            <div class="col">
                Code: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <button class="btn btn-block btn-primary mt-3 mb-3" type="submit">Search</button>
    </div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">User's Name</th>
            <th scope="col">User's Surname</th>
            <th scope="col">User's Role</th>
            <th scope="col">User's e-mail</th>
            <th scope="col">Account registration date</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="systemUser : ${systemUsers}">
            <tr>
                <th scope="row" th:text="${systemUser.systemUserID}"></th>
                <td th:text="${systemUser.systemUserName}"></td>
                <td th:text="${systemUser.systemUserSurname}"></td>
                <td>
                    <th:block th:each="role : ${systemUser.systemUserRoles}">
                        [[${role.systemUserRoleName}]]
                    </th:block>
                </td>
                <td th:text="${systemUser.systemUserEmail}"></td>
                <td th:text="${systemUser.systemUserAccountCreationDate}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <th:block th:if="${pageNo == 1}">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
            </th:block>
            <th:block th:if="${pageNo != 1}">
                <li class="page-item"><a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo - 1}"
                                         tabindex="-1">Previous</a></li>
            </th:block>
            <th:block th:if="${pageNo != 1}">
                <li class="page-item"><a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo - 1}"
                                         th:text="${pageNo - 1}">1</a></li>
            </th:block>
            <li class="page-item"><a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo}"
                                     th:text="${pageNo}">2</a></li>
            <th:block th:if="${isNextPageEmpty == true}">
                <li class="page-item disabled">
                    <a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo + 1}" >Next</a>
                </li>
            </th:block>
            <th:block th:if="${isNextPageEmpty == false}">
                <li class="page-item">
                    <a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo + 1}" th:text="${pageNo+1}">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo + 1}" >Next</a>
                </li>
            </th:block>

        </ul>
    </nav>
</div>
</html>