<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <h1>User Listing</h1>
        </div>
        <div class="col">
            <button class="btn btn-light align-middle" data-toggle="collapse" data-target="#search" aria-expanded="false"
                    aria-controls="search">Toggle search section</button>
        </div>
    </div>
    <div class="md-form mt-0" id="search">
        <div class="row">
            <div class="col">
                User ID: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                User's name: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>

        <div class="row">
            <div class="col">
                Code: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                Date of opening: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                Date of processing: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                Cardholder data: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                Vendor data: <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <button class="btn btn-block btn-primary mt-3 mb-3" type="submit">Search</button>
    </div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">User's Name</th>
            <th scope="col">User's Surname</th>
            <th scope="col">User's e-mail</th>
            <th scope="col">Account registration date</th>
            <th scope="col">Cardholder Data</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">5df5cf10-02cf-491d-860b-55a14b9429e9</th>
            <td>5df5cf10-02cf-491d-860b-55a14b9429e9</td>
            <td>690700</td>
            <td>1/22/2020</td>
            <td>Not Processed</td>
            <td>Erwin Schrödinger</td>
        </tr>
        <tr>
            <th scope="row">5df5cf10-02cf-491d-860b-55a14b9429e9</th>
            <td>5df5cf10-02cf-491d-860b-55a14b9429e9</td>
            <td>690700</td>
            <td>1/22/2020</td>
            <td>Not Processed</td>
            <td>Erwin Schrödinger</td>
        </tr>
        <tr>
            <th scope="row">5df5cf10-02cf-491d-860b-55a14b9429e9</th>
            <td>5df5cf10-02cf-491d-860b-55a14b9429e9</td>
            <td>690700</td>
            <td>1/22/2020</td>
            <td>Not Processed</td>
            <td>Erwin Schrödinger</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>