<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <h1>User Listing</h1>
        </div>
        <div class="col">
            <button class="btn btn-light align-middle" data-toggle="collapse" data-target="#search" aria-expanded="false"
                    aria-controls="search">Toggle search section</button>
        </div>
    </div>
    <div class="md-form mt-0" id="search">
        <form action="/usrmanagement/listing/1" method="post">
            <div class="row">
                <div class="col">
                    User ID: <input class="form-control" type="text" name="userID"
                                    placeholder="e.g.: 769fceff-d926-44d5-8556-9510a4f7aa37" aria-label="Search">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    User's name: <input class="form-control" type="text" name="userName"
                                        placeholder="e.g.: Katia" aria-label="Search">
                </div>
                <div class="col">
                    User's surname: <input class="form-control" type="text" name="userSurname"
                                           placeholder="e.g.: Waldheim" aria-label="Search">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    User's email: <input class="form-control" type="email" name="userEmail"
                                         placeholder="e.g.: katiawaldheim@gmail.com" aria-label="Search">
                </div>
                <div class="col">
                    User's role:
                    <select class="form-control" name="systemUserRole">
                        <option type="checkbox" value="">
                            - No Role Selected -
                        </option>
                        <th:block th:each="role : ${allSystemRoles}">
                            <option type="checkbox" th:value="${role.systemUserRoleID}"
                                    th:text="${role.systemUserRoleName}">
                            </option>
                        </th:block>
                    </select>
                </div>
            </div>
            <button class="btn btn-block btn-primary mt-3 mb-3" type="submit">Search</button>
        </form>
    </div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">User's Name</th>
            <th scope="col">User's Surname</th>
            <th scope="col">User's Role</th>
            <th scope="col">User's e-mail</th>
            <th scope="col">Account registration date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="systemUser : ${systemUsers}">
            <tr>
                <th scope="row" th:text="${systemUser.systemUserID}"></th>
                <td th:text="${systemUser.systemUserName}"></td>
                <td th:text="${systemUser.systemUserSurname}"></td>
                <td th:text="${systemUser.systemUserRole.systemUserRoleName}"></td>
                <td th:text="${systemUser.systemUserEmail}"></td>
                <td th:text="${systemUser.systemUserAccountCreationDate}"></td>
                <td>
                    <a class="btn btn-warning" th:href="'/usrmanagement/editform/' + ${systemUser.systemUserID}">
                        ✎ Edit User
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <th:block th:if="${pageNo == 1}">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
            </th:block>
            <th:block th:if="${pageNo != 1}">
                <li class="page-item"><a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo - 1}"
                                         tabindex="-1">Previous</a></li>
            </th:block>
            <th:block th:if="${pageNo != 1}">
                <li class="page-item"><a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo - 1}"
                                         th:text="${pageNo - 1}">1</a></li>
            </th:block>
            <li class="page-item"><a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo}"
                                     th:text="${pageNo}">2</a></li>
            <th:block th:if="${isNextPageEmpty == true}">
                <li class="page-item disabled">
                    <a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo + 1}" >Next</a>
                </li>
            </th:block>
            <th:block th:if="${isNextPageEmpty == false}">
                <li class="page-item">
                    <a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo + 1}" th:text="${pageNo+1}">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="'/usrmanagement/listing/'+${pageNo + 1}" >Next</a>
                </li>
            </th:block>
        </ul>
    </nav>
</div>
</html>