<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Chargeback Specialist</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Statistics Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Chargeback Listing</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Your Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">User Management</a>
    </div>
</div>