<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common-layout/head :: head(sectionName = ${metadata.sectionName})">
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div th:replace="/fragments/common-layout/sidebar :: #sidebar-wrapper(sidebarLinks = ${metadata.sidebarLinks},
                sidebarTitles = ${metadata.sidebarTitles})"></div>
        <div id="page-content-wrapper">
            <nav th:replace="/fragments/common-layout/navbar :: nav(sectionName = ${metadata.sectionName})"></nav>
            <th:block th:if="${metadata.sectionName == 'Home'}">
                <th:block th:if="${metadata.subsectionName == 'Help'}">
                    <div th:replace="'/fragments/'+${metadata.sectionName}+'/'+${metadata.subsectionName} :: div(
                        helpEntries = ${helpEntries}
                    )"></div>
                </th:block>
                <th:block th:unless="${metadata.subsectionName == 'Help'}">
                    <div th:replace="'/fragments/'+${metadata.sectionName}+'/'+${metadata.subsectionName} :: div"></div>
                </th:block>
            </th:block>
            <th:block th:if="${metadata.sectionName == 'Statistics Dashboard'}">
                <div th:replace="'/fragments/'+${metadata.sectionName}+'/'+${metadata.subsectionName} :: div"></div>
            </th:block>
            <th:block th:if="${metadata.sectionName == 'Chargeback Processing'}">
                <th:block th:if="${metadata.subsectionName == 'Listing'}">
                    <div th:replace="'/fragments/'+${metadata.sectionName}+'/'+${metadata.subsectionName} :: div(
                        chargebacks = ${chargebacks}, pageNumber = ${pageNumber}, isNextPageEmpty = ${isNextPageEmpty}
                    )"></div>
                </th:block>
                <th:block th:if="${metadata.subsectionName == 'Processing Queue'}">
                    <div th:replace="'/fragments/'+${metadata.sectionName}+'/'+${metadata.subsectionName} :: div(
                        chargebackData = ${chargebackData}
                    )"></div>
                </th:block>
            </th:block>
            <th:block th:if="${metadata.sectionName == 'Your Profile'}">
                <div th:replace="'/fragments/'+${metadata.sectionName}+'/'+${metadata.subsectionName} :: div"></div>
            </th:block>
            <th:block th:if="${metadata.sectionName == 'User Management'}">
                <th:block th:if="${metadata.subsectionName == 'Listing'}">
                    <div th:replace="'/fragments/'+${metadata.sectionName}+'/'+${metadata.subsectionName} :: div(systemUsers
                      = ${systemUsers}, pageNo = ${pageNumber}, isNextPageEmpty = ${isNextPageEmpty})"></div>
                </th:block>
                <th:block th:if="${metadata.subsectionName == 'Edit User'}">
                    <div th:replace="'/fragments/'+${metadata.sectionName}+'/'+${metadata.subsectionName} :: div(
                        userData = ${userData}, allSystemRoles = ${systemRoles})"></div>
                </th:block>
            </th:block>
        </div>
    </div>
    <span th:replace="/fragments/common-layout/post-content :: span"></span>
</body>
</html>
