<div class="container-fluid">
    <h1 class="text-center">Processed Chargebacks - Year 2020</h1>
    <canvas id="myChart"></canvas>
    <!--Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
                    'October', 'November', 'December'],
                datasets: [{
                    label: 'My First dataset',
                    // backgroundColor: '#0984e3',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    borderColor: '#0984e3',
                    data: [20, 10, 5, 2, 20, 30, 45, 30, 20, 25, 15, 50]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>
</div>