<div class="container-fluid">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Take all chargeback cases into your hands!</h1>
        <p class="lead">Chargeback Specialist is the newest and the fastest way of dealing with chargebacks!</p>
        <hr class="my-4">
        <p>Chargeback specialist&trade; is the newest and the fastest Wnuczek's system created to speed up the chargeback
            processing drastically. With the new automatic chargeback queue you will go through lots of chargeback cases
            in a blink of an eye. It also compliant with the newest card issuer con<br><br><br>
            <h3>New to our service?</h3>
            New to the chargebacks? - Check out our how to process chargebacks section <a href="#">here</a>!<br>
            New to this system? - Check out our quick chargeback specialist course <a href="#">here</a>!<br>
            You want to give us some feedback on this piece of software? - Please <a href="#">mail us</a>!
        </p>
    </div>
</div>